.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-2xl);
}
.services-text {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--spacing-2xl);
  padding-block: var(--spacing-2xl);
}
.services-card {
  width: fit-content;
  max-width: 250px;
  background: var(--surface-color);
  border-radius: var(--rounded-sm);
  padding: var(--spacing-sm) var(--spacing-sm);
  box-shadow: none;
  scale: 1;
  transition: var(--transition);
}
.services-card:hover {
  scale: 1.05;
  box-shadow: var(--shadow);
}
.services-card img {
  width: 30px;
}
.services-card-text {
  padding-top: var(--spacing-md);
}
