.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-light);
  border-radius: var(--rounded-md);
  width: 100%;
  gap: var(--spacing-2xl);
}
.cta-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 50%;
  padding-block: var(--spacing-2xl);
}
