small {
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

h2 {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-lg);
}
.about-section {
  display: flex;
  gap: var(--spacing-3xl);
}
.about-text {
  max-width: 60%;
}
.about-image-container {
  height: 300px;
}
.about-image-container img {
  height: 300px;
}

@media (max-width: 767px) {
  .about-section {
    flex-direction: column;
  }
  .about-text {
    max-width: 100%;
  }
}
