.testimonials-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-2xl);
}
.testimonials-text {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.testimonials-list {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
  justify-content: center;
  width: 70%;
  overflow-y: hidden;
  height: 350px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: var(--surface-color);
  box-shadow: var(--shadow);
  border-radius: var(--rounded-sm);

  position: relative;
  transition: var(--transition);
  /* overflow: hidden; */
}
.testimonials-card {
  text-align: center;
  display: grid;
  place-items: center;
}
.testimonials-card-image,
.testimonials-comment {
  display: grid;
  width: 100%;
  place-items: center;
}

.testimonials-card img {
  margin-top: var(--spacing-lg);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 5px solid var(--background-color);
}
.swiper-button-quote {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.testimonials-comment {
  margin-top: var(--spacing-lg);

  max-width: 600px;
  gap: var(--spacing-sm);
}

@media (max-width: 767px) {
  .testimonials-section {
    flex-direction: column;
  }
  .testimonials-card:hover {
    background: var(--surface-color);
  }
  .testimonials-list {
    width: 90%;
  }
  .testimonials-card img {
    height: 80px;
    width: 80px;
  }
}
